/* colocar todo de la etiqueta li alineado y centrado a la izquierda*/
.navegacion{
  font-size: 16px;
  display: inline;
  padding: 14px 16px;
}
  
body
{
  background-image: url(img/fondo2.png);
  
}

/* colocar la fuente en toda nuestra pagina*/

*{
  font-family: 'Changa', sans-serif;
}

/*contenedor*/
.cardInformation.row {
  display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   margin: 2rem;
   width: 30%;
   height: 10%;
   overflow: scroll;
   border: solid;
}

/*tarjetitas individuales*/
.card-item {
  margin: 7px 0px 7px 7px;
  color: #1650B4;
  text-align:center;
  border: 1px rgba(204, 204, 204, 1) solid;
  max-width: 18%;
  height: 20%;
  border-radius: 1rem;
  padding: 1rem 0;
  -webkit-box-shadow: -9px 2px 1px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: -9px 4px 2px 1px rgba(0, 0, 0, 0.11);
  box-shadow: 2px 2px 7px 1px #1C6EA4;
  background-color: rgba(231, 211, 25, 0.6)
 }


/* darle formato a nuestra tarjetita en cuanto a la letra*/
.poke-num{
  color: rgb(10, 9, 17); /*color de la letra*/
  text-shadow: 1px 1px 1px  #FFF824; /*sombreado*/ 
  font-weight: 500;
  width: 300px;
  font-size: 25px;
}

.poke-name{
  color: #1511Ff; /*color de la letra*/
  text-shadow: 1px 1px 1px  rgb(12, 12, 9); /*sombreado*/
  font-weight: 500; 
  width: 250px;
  font-size: 18px;
}

.poke-type{
  color:#EB0E01; /*color de la letra*/
  text-shadow: 1px 1px 1px  rgb(24, 23, 16); /*sombreado*/
  font-weight: 500; 
  width: 250px;
  font-size: 18px;
}
